*{
    margin: 0;
    padding: 0;
}

body{

    overflow-x: hidden;
}

.learn-js-main{
    background-color: white;
    height: 100vh;
    width: 100%;
   
}

.main-headinng-div{
    background:linear-gradient(to left,purple,rgb(255, 55, 0));
    height: 40vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3.5rem;
    color: white;
    font-family: arial black;
    border-bottom: 2px solid purple;
}

.all-anchor-div{
    height: 30vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 40px;
}

.all-anchor-div a{
    font-size: 1.2rem;
    text-decoration: none;
    color: white;
    font-family: arial;
    font-weight: bold;
}

.anchor-div{
    background-color: purple;
    height: 50px;
    width: 100px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
   align-items: center;
}

.anchor-div:hover{
    background-color: white;
    color: purple;
    transition: 0.5s;
    transform: scale(1.1);
    border: 2px solid purple;
    cursor: pointer;
}

.anchor-div:hover a{
    color: purple;
    transition: 0.5s;
}
